.logo {
  opacity: 0.5;
  transition: all 0.4s ease;
  margin: auto;

}

.logo:hover {
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 0 16px rgb(169, 169, 5);

}

.whiteshadow {
  box-shadow: 0 3px 20px rgb(243, 243, 111, 0.5);

}

.lineshadow {
  box-shadow: 0 100px 20px rgb(71, 71, 34);

}
.boxshadow {
  box-shadow: 0 0 30px rgb(128, 128, 77);

}

@media (max-width: 991.98px) {
  #sidebarNav {
    display: none !important;
  }
}

.workshadow {
  border: 1px solid black;
  box-shadow: 0 0 20px rgba(71, 71, 34, 0.6);
  transition: transform 0.3s ease;
}

.workshadow:hover {
  border: 1px solid rgb(225, 225, 12);
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 2vh;
  font-style: normal;
  font-size: 4vh;
}

/* .playwrite-hu {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
} */

.berkshire-swash-regular {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.libertinus-sans-regular {
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.montserrat-alternates-light {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.blackColor{
  background-color: black;
}





